

.spec {
  border: 2px solid darkred;
  background-color: lightcoral;
  width: 200px;
  margin: 20px;
  padding: 10px;
  box-sizing: border-box;
}

.spec-first {
  float: left;
}

.spec-second {
  float: left;
}

.spec-third {
  float: left;
}

.later-text {
  text-align: justify;
}

.clearfix {
  clear: both;
}

.social-container {
  background-color: lightblue;
  overflow: auto;
  padding: 10px;
}

.social-link {
  color: black;
  background-color: white;
  width: 100px;
  height: 50px;
  border: 1px solid black;
  margin-left: 50px;
  float: left;
}


.demonstration {
  background-color: lightgreen;
  padding: 10px;
  width: 200px;
  height: 70px;
  overflow: auto;
}