* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background-color: yellow;
  height: 100vh;
  display: grid;
  grid-template-columns: 100px 1fr 80px;
  grid-template-rows: 150px 1fr 80px;

  grid-template-areas:
    " headercell headercell copyrightcell "
    " menucell maincell advcell "
    " footercell footercell footercell ";
}

.item {
  background-color: lightgreen;
  border: 1px solid black;
  padding: 30px;
}

.header {
  grid-area: headercell;
}

.menu {
  grid-area: menucell;
}

.main {
  grid-area: maincell;
  overflow-y: auto;
}

.adv {
  grid-area: advcell;
}

.footer {
  grid-area: footercell;
}

.copyright {
  grid-area: copyrightcell;
}

@media screen and (max-width: 800px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);

    grid-template-areas:
    " headercell "
    " advcell "
    " menucell "
    " maincell "
    " footercell "
    " copyrightcell ";
  }

  .copyright {
    /*display: none;*/
  }
}