@use "variables" as *;
@use "mixins" as *;

.main-section {
  @include flex(space-between, center, row, wrap);

  padding: 0 75px 180px 75px;

  &>div {
    flex: 1 1 400px;
    min-width: 400px;
  }

  .title {
    max-width: 522px;
    font-size: 65px;
    font-weight: 600;
    line-height: 70px;
  }

  .title-description {
    max-width: 470px;
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
    padding-bottom: 51px;
    margin-right: 20px;
  }

  .main-section-button-2 {
    width: 160px;
    height: 60px;
    border-radius: 0;
    background-color: $bg-button-simple;
    font-size: 16px;
    font-weight: 600;
  }

  .main-section-button-1 {
    @extend .main-section-button-2;

    background-color: $bg-button-encourage;
    color: $color-button-encourage;
    border: none;
    margin-right: 10px;
  }

  .img-main-section {
    padding: 100px 0;
    max-width: 100%;
    height: auto;
    flex: 1 1 400px;
    min-width: 400px;
  }

  .title-description-down {
    font-size: 15px;
    font-weight: 400;
    padding-top: 25px;
  }
}

@media (max-width: 992px) {
  .main-section {
    flex-direction: column;
  }
}