$background: violet;

body {
  background-color: $background;
  font-size: 32px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.my-element {
  background-color: $background;
}

@media (max-width: 800px) {
  body {
    font-size: 20px;
  }
}

@media (max-width: 1000px) {
  body {
    background-color: rosybrown;
  }
}

@media (max-width: 800px) {
  body {
    background-color: lightgreen;
  }
}