html {
  font-size: 16px;
}

body {
  background-color: #ffff00;
  padding: 0;
}

header {
  background-color: lightgreen;
}

nav a {
  margin: 50px;
  padding: 10px;
  background-color: lightcoral;
  text-decoration: none;
}

/*
main {
  width: 40%
}
*/

input {
  background-color: lightblue;
}


input[type="password"] {
  border: 2px solid red;
}

[disabled] {
  background-color: lightyellow;
}

ul {
  list-style-type: none;
}

#logo {
  /*font-size: 2rem;*/
  /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
  /*font-style: italic;*/
  /*font-weight: 600;*/
  font: italic 2rem Verdana, Geneva, Tahoma, sans-serif
}

.special {
  background-color: #fbfb49;
}

.usual {
  background-color: #0769FF7F;
}

.last {
  width: 50%;
  height: 300px;
  margin: 30px auto;
  padding: 0 30px ;
}

.test-background {
  width: 500px;
  height: 300px;
  /*background-color: lightgreen;*/
  /*background-image: url("./duck.jpg");*/
  /*background-position: center;*/
  /*background-size: 100px 100px;*/
  /*background-repeat: repeat-x;*/
  background: repeat-x lightgreen url('duck.jpg') center center / 100px;
  border: 5px dashed black;
  border-right: 5px dotted red;
  color: darkblue;
}

.strange-one {
  background: #0FB4CFFF;
 width: 500px;  /* Не діе! */
  height: 500px; /* Не діе! */
}

.some-text {
  background: lightgrey;
  text-align: justify;
  text-indent: 40px;
  /*text-decoration: line-through;*/
  text-transform: lowercase;
}