@mixin flex-h-center {
  display: flex;
  justify-content: center;
}

@mixin flex($justify: normal, $align: normal, $dir: row, $wrap: nowrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $dir;
  flex-wrap: $wrap;
}