$bg-bright: #ff9c7d;
$bg-light: #fff8e4;
$bg-quote: #c9e8f2;
$bg-achievement: #dabc98;

$bg-button-simple: #ffffff;
$bg-button-encourage: #ff6336;
$bg-button-localization: black;

$color-button-encourage: #ffffff;
$color-button-localization: #ffffff;

$main-font-family: 'Graphik';
