body {
  padding: 40px;
}
.field td {
  border: 1px solid grey;
  width: 30px;
  height: 30px;
}

.field td.snake {
  background-color: #0aa40a;
}

.field td.apple {
  background-color: darkred;
}

.container {
  position: relative;
}

.game-over, .pause {
  background-color: lightgrey;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: darkred;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 35px;
}

.pause {
  color: green;
}

.hidden {
  display: none;
}