* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background-color: lightgrey;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* розтягує */
  /*grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* уявні колонки */
}

.item {
  border: 1px solid black;
  background-color: lightblue;
  padding: 16px;
}