#exampleBlock {
  border: 1px solid black;
  background-color: lightblue;
  width: 100px;
  height: 100px;
  margin: 20px;
}

#coloredDiv {
  border: 1px solid black;
  background-color: lightgreen;
  width: 100px;
  height: 100px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.family {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: lightgrey;
}

#grandfather{
  width: 300px;
  height: 300px;
}

#father {
  width: 200px;
  height: 200px;
}

#son {
  width: 100px;
  height: 100px;
}

#checkboxContainer {
  border: 1px solid black;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#redOne {
  border: 1px solid black;
  background-color: lightcoral;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
}